sudo: false

language: go
go:
  - 1.4.3
  - 1.5.1
  - tip

install:
  - go get -d
  - go get golang.org/x/tools/cmd/vet

script:
  - go vet
  - go test -v ./...
  - go build
  - ./end-to-end-test.sh -v
