[Unit]
Description=User Node Exporter
After=dbus.socket
Requires=dbus.socket

[Service]
ExecStart=/usr/sbin/node_exporter --collector.systemd --collector.systemd.user

[Install]
WantedBy=default.target
